/*
ninkynonk.co.uk main stylesheet
*/

@font-face {
  font-family: Belucian-Book;
  src: url("../font/Belucian-Book.otf");
}

* {
  line-height: 1.2;
  margin: 0;
  font-family: Belucian-Book;
}


#slogan {
  color: #555;
  font-size: 2em;
  font-style: italic;
  white-space: nowrap;
  width: 100%;
  margin: -40px 0 40px;
}

.slogan {
  color: #555;
  font-size: 2em;
  font-style: italic;
  white-space: nowrap;
  width: 100%;
  margin: -40px 0 40px;
}

#moreWrapper {
  background-color: #9BF6FF;
  width: 1920px;
  height: 100%;
  margin: 0;
  left: 0;
  z-index: 1000;
  top: 0;
  bottom: 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  object-fit: fill;
}

.moreList {
  list-style: none !important;
  text-align: center !important;
  display: inline-block !important;
  alignment: center !important;
  align-items: center;
  font-size: 80%;
  margin-left: inherit;
  margin-right: inherit;
}

.menuItem {
  color: #555;
  font-size: 2em;
  font-style: italic;
  white-space: nowrap;
  width: 100%;
}

#menu {
  text-decoration: none;
}

.navbar {
  display: inline; !important;
  position: fixed; !important;
  height: 30px;!important;
  width: 1920px; !important;
  padding: 0 0 1080px; !important;
  background-color: #ffffff; !important;
}

.optionQuadrat {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: white;
  font-weight: bold;
  font-size: 250%;
  text-underline: none;
  font-family: "Comic Sans MS", serif;
  text-decoration: none !important;
  color: #BDB2FF;
  border-width: 0;
}

a {
  text-decoration: none !important;
  text-decoration-color: inherit !important;
  color: #555 !important;
  font-weight: bolder;
}

.backLink {
  font-weight: bold !important;
}

.triad {
  width: 100%;
  padding-bottom: 150px;
}

.element {
  float: left;
  width: 33.33%;
  font-size: 80%;
  margin-right: 0px
}

.homeButton {
  float: left;
}

.definition {
  padding-top: 40px !important;
  font-size: 90% !important;
}


.menuLink {
  text-underline: none;
  font-family: "Comic Sans MS", serif;
  text-decoration: none !important;
  color: #888;
}


.notfound {
  background-image: url("../img/background/space-flag.png") !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.notfound-messageBox {
  height: 500px;
  width: 800px;
  opacity: 80%;
  background-color: #BDB2FF;
  padding: 70px;
}

.optionGrid {
  margin: 20px auto;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-row: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.navbar-button {
  color: slategrey;
}

#clickableCarriageOrange {

}

.pageWrapper {
  color: #888;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: #BDB2FF !important;
  margin: 0;
  padding: 0;
}

.homeBody {
  position: center;
}

.clickableCarriages {
  display: inline;
  height: 200px;
  width: 1920px;
}


.clickableCarriage {
  height: 100%;
  width: auto;
}

#mainPage {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}


.htmlWrapper {
  color: #888;
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}


h1 {
  color: #555;
  font-size: 4em;
  font-weight: 400;
}

p {
  margin: 0 auto;
  width: 280px;
}

.standardText {
  text-decoration: none;
  text-decoration-color: inherit !important;
  color: #555 !important;
  margin: fill !important;
  font-size: 150%;
}

.definitionExample {
  font-size: 60%;
  font-style: normal;
  opacity: 120% !important;
}



@media only screen and (max-width: 280px) {

  body,
  p {
    width: 95%;
  }

  h1, h2, p {
    font-size: 1.5em;
    font-family: Belucian-Book, sans-serif;
    margin: 0 0 0.3em;
  }

}


html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

