.videoBackground {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.mediaWrapper {
  background-color: #FDFFB6;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 1000;
  top: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#video {

}

#videoGrid {

}

.videoGridElement {

}
